.list_actions {
  
  text-align:right;
  
  .btn {
    margin-right:5px;
  }
}

.popover {
  .content {
    margin:0px;
  }
  
}

.attrtastic {
  li   {
    list-style:none;
  }
  
  .attribute {
    span.label {
      margin-right:20px;
    }
    
  }
}

.book {

  .map_container, .gmaps4rails_map {
    width:450px !important ;
  }
  
}

  
.paragraph {

  .map_container, .gmaps4rails_map {
    width:550px !important ;
  }
  
}  
  
  
#image_poi  {
  .map_container, .gmaps4rails_map {
    width:450px !important ;
  } 
}