
<div class="row">
  <div class="span8">
    <form accept-charset="UTF-8" action="" class="simple_form form_search_poi" data-remote="true" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="R2fvoQIe+Fz37kwTXsy2Io3BkBrEuKgcvzkQKfQZ27w=" /></div>
          <input data-autocomplete="/pois/autocomplete_poi_name" id="form_search_poi_name" name="form_search_poi[name]" size="30" type="text" />
          <a class="btn btn_submit">Seleziona POI</a>
    </form>
    
    
    {{#if PoiParagraphApp.context.poi_selected}}<b>Seleziona il paragrafo:</b><br/>{{/if}}

      {{#each PoiParagraphApp.context.paragraphs}}
        {{#view PoiParagraphApp.views.paragraph contentBinding="this"}}
            <span class="label info">{{content.name}}</span>
        {{/view}}
      {{/each}}

  </div>
  
  <div class="span5">
      
      <h4>Testo selezionato</h4>
      <hr/>
      {{PoiParagraphApp.context.text_selected}}
  </div>
</div>

<div class="row">
  <div class="span13">
  {{#if PoiParagraphApp.context.paragraph_is_associated_to_text}}

    {{#with PoiParagraphApp.context.paragraph_selected}}
      <hr>
      <b>il testo selezionato è stato associato al paragrafo:</b><br/>
       <span class="label info">{{name}}</span>
    {{/with}}

    <div class="actions">
    {{#view PoiParagraphApp.views.button_close}}
       <a class="btn primary">Chiudi</a>
    {{/view}}
    </div>

  {{/if}}
  </div>
</div>



